# Extraccion de datos desde archivos
- CSV
- Excel

In [1]:
import pandas as pd
import polars as pl
import os

path_data = os.path.join(os.getcwd(), 'data')
path_file = lambda x: os.path.join(path_data, x)

In [ ]:
path_file('data.csv')

## Pandas

CSV

In [2]:
pd.read_csv(path_file('dataset.csv'))

,Fecha,Nombre de la Campaña,Region,Clicks,Impresiones,Views,Costo
0,12/24/2023,CursosDeProgramacion,Oeste,26148,133468,21979,606
1,11/11/2023,AprendeCSharpFacil,Norte,34586,340290,49146,495
2,5/24/2024,CodigoFacilitoEnEspanol,Norte,20337,343710,32831,1655
3,9/5/2023,AprendePythonFacil,Sur,45332,279000,15840,991
4,6/19/2024,CodigoFacilitoEnEspanol,Este,36817,462135,42041,1784
...,...,...,...,...,...,...,...
995,7/6/2024,CursoDeJavaAvanzado,Sur,29588,40026,18668,330
996,12/13/2023,AprendeCSharpFacil,Sur,24523,238325,5276,195
997,1/26/2024,AprendeCSharpFacil,Este,22159,437721,44179,442
998,1/17/2024,AprendeJavaScriptYA,Sur,47854,359512,20689,1674
999,8/21/2023,DesarrolloWebCompleto,Este,14704,301041,10286,582

In [8]:
pd.read_csv(
    filepath_or_buffer=path_file('dataset.csv'),
    skiprows=1,
    delimiter='/',
    header=None,
    skipfooter=1,
    names=['a', 'b', 'c'],
    engine='python'
)

      a   b                                                  c
0    12  24  2023,CursosDeProgramacion,Oeste,26148,133468,2...
1    11  11  2023,AprendeCSharpFacil,Norte,34586,340290,491...
2     5  24  2024,CodigoFacilitoEnEspanol,Norte,20337,34371...
3     9   5  2023,AprendePythonFacil,Sur,45332,279000,15840...
4     6  19  2024,CodigoFacilitoEnEspanol,Este,36817,462135...
..   ..  ..                                                ...
994   6  20  2024,AprendeCSharpFacil,Norte,28535,352983,467...
995   7   6  2024,CursoDeJavaAvanzado,Sur,29588,40026,18668...
996  12  13  2023,AprendeCSharpFacil,Sur,24523,238325,5276,195
997   1  26  2024,AprendeCSharpFacil,Este,22159,437721,4417...
998   1  17  2024,AprendeJavaScriptYA,Sur,47854,359512,2068...

[999 rows x 3 columns]

In [9]:
pd.read_csv(
    filepath_or_buffer=path_file('dataset.txt'),
    delimiter='\t'
)

,Fecha,Nombre de la Campaña,Region,Clicks,Impresiones,Views,Costo
0,6/3/2024,DesarrolloWebCompleto,Norte,21906,113093,23599,1393
1,4/5/2024,AprendeCSharpFacil,Oeste,44722,341014,17356,1951
2,8/12/2023,CodigoFacilitoEnEspanol,Este,33623,366426,16713,584
3,8/11/2023,AprendeCSharpFacil,Sur,23394,292667,46758,847
4,1/11/2024,AprendeCSharpFacil,Este,47248,417848,36079,981
...,...,...,...,...,...,...,...
995,1/1/2024,CodigoFacilitoEnEspanol,Este,37783,348693,39145,1538
996,3/18/2024,MasterEnPython,Sur,34984,317051,26758,1423
997,2/21/2024,DesarrolloWebCompleto,Sur,16126,141844,22154,1497
998,7/21/2024,CursoDeJavaAvanzado,Norte,30613,71018,43673,726
999,8/18/2023,ProgramacionParaTodos,Oeste,34879,414463,17703,1293

Excel

In [12]:
import openpyxl

pd.read_excel(
    io=path_file('dataset_tipo2.xlsx')
)

,Fecha,mes,Nombre de la Campaña,Region,Clicks,Impresiones,Views,Costo
0,2024-01-01 00:00:00,1,AprendePythonFacil,Oeste,5445,272452,30599,1078
1,1/13/2024,1,AprendePythonFacil,Este,29796,28929,30482,1983
2,1/13/2024,1,ProgramacionParaTodos,Norte,27993,159191,20372,669
3,1/14/2024,1,CursoDeJavaAvanzado,Oeste,10000,84126,15069,546
4,1/16/2024,1,MasterEnPython,Este,28879,110442,26459,1609
...,...,...,...,...,...,...,...,...
995,2024-12-07 00:00:00,12,CursoDeJavaAvanzado,Oeste,26591,249803,5155,127
996,2023-12-08 00:00:00,12,DesarrolloWebCompleto,Sur,17813,420632,33609,830
997,2023-12-09 00:00:00,12,MasterEnPython,Oeste,23526,86485,29994,1091
998,2023-12-09 00:00:00,12,AprendePythonFacil,Este,38845,441246,8549,1629
999,2023-12-09 00:00:00,12,CodigoFacilitoEnEspanol,Sur,11196,234782,16337,1275

In [14]:
xls = pd.ExcelFile(path_file('datos_historicos.xlsx'))
xls.sheet_names

['FY18', 'FY19', 'FY20', 'FY21', 'FY22', 'FY23', 'FY24']

In [15]:
df_full_excel = pd.concat(
    [pd.read_excel(xls, sheet_name=sheet) for sheet in xls.sheet_names],
    ignore_index=True
)

In [16]:
df_full_excel

,Order_ID,Order_Date,Ship_Date,Ship_Mode,Country_Region,City,State_Province,Postal_Code,Customer_Name,Product_Name,Quantity,Discount
0,593493,2018-02-25,18,First Class,United States,Newark,New Jersey,7195,Ken Black,Case Logic 2.4GHz Wireless Keyboard,65,0.69
1,245840,2018-07-29,3,Second Class,United States,Peoria,Arizona,85383,Craig Leslie,DAX Value U-Channel Document Frames,2,0.47
2,418194,2018-07-16,26,Second Class,Canada,Fermont,Québec,J1E,David Wiener,End Table,14,0.26
3,520755,2018-06-24,19,First Class,Canada,Princeville,Québec,J1J,Rick Hansen,Colored Envelopes,52,0.07
4,254624,2018-07-17,13,Second Class,United States,Denton,Texas,76205,Tom Stivers,Acme Kleen Earth Office Shears,48,0.54
...,...,...,...,...,...,...,...,...,...,...,...,...
6995,520267,2024-05-23,21,Standard Class,Mexico,Independencia,Coahuila De Zaragoza,26830,Zuschuss Donatelli,BIC Brite Liner Highlighters,2,0.31
6996,458149,2024-04-05,12,Second Class,Mexico,Nueva Esperanza,Chiapas,29216,Emily Ducich,Xerox 1909,63,0.11
6997,76195,2024-06-15,2,Expedited,Mexico,Los Pinos,Guanajuato,36780,Edward Hooks,Filtration Bags,28,0.21
6998,417871,2024-01-29,17,Second Class,Canada,Carbonear,Newfoundland and Labrador,A1Y,Sara Luxemburg,Bulldog Vacuum Base Pencil Sharpener,18,0.31
6999,373716,2024-02-16,30,Second Class,United States,Columbia,Missouri,65211,Sandra Flanagan,Logitech G700s Rechargeable Gaming Mouse,29,0.45

In [18]:
pd.read_excel(
    io=path_file('data.xlsx'),
    skiprows=3
)

,Unnamed: 0,in million USD,FY '09,FY '10,FY '11,FY '12,FY '13,FY '14,FY '15,FY '16,FY '17,FY '18
0,NaN,NET OPERATING REVENUES,30990,35119,46542,48017,46854,45998,44294,41863,35410,31856
1,NaN,Cost of goods sold,11088,12693,18215,19053,18421,17889,17482,16465,13255,11770
2,NaN,Gross Profit,19902,22426,28327,28964,28433,28109,26812,25398,22155,20086
3,NaN,"Selling, general and administrative expenses",11358,13194,17422,17738,17310,17218,16427,15262,12654,10307
4,NaN,Other operating charges,313,819,732,447,895,1183,1657,1510,1902,1079
...,...,...,...,...,...,...,...,...,...,...,...,...
95,NaN,Effect of exchange rate changes on cash and ca...,576,-166,-430,-255,-611,-934,-878,-6,241,-262
96,NaN,Cash Provided by (Used in) Investing Activitie...,NaN,NaN,NaN,NaN,NaN,NaN,0,0,-58,-421
97,NaN,Cash Provided by (Used in) Financing Activitie...,NaN,NaN,NaN,NaN,NaN,NaN,0,0,-38,205
98,NaN,Net Cash Provided by (Used in) Discontinued Op...,NaN,NaN,NaN,NaN,NaN,NaN,0,0,15,91
99,NaN,Net increase (decrease) during the year,2320,1496,4286,-4361,1972,-1456,-1649,1246,-2477,2945

## Polars

CSV

In [23]:
pl.read_csv(
    path_file('dataset.csv'),
    separator=','
)

shape: (1_000, 7)
┌────────────┬─────────────────────────┬────────┬────────┬─────────────┬───────┬───────┐
│ Fecha      ┆ Nombre de la Campaña    ┆ Region ┆ Clicks ┆ Impresiones ┆ Views ┆ Costo │
│ ---        ┆ ---                     ┆ ---    ┆ ---    ┆ ---         ┆ ---   ┆ ---   │
│ str        ┆ str                     ┆ str    ┆ i64    ┆ i64         ┆ i64   ┆ i64   │
╞════════════╪═════════════════════════╪════════╪════════╪═════════════╪═══════╪═══════╡
│ 12/24/2023 ┆ CursosDeProgramacion    ┆ Oeste  ┆ 26148  ┆ 133468      ┆ 21979 ┆ 606   │
│ 11/11/2023 ┆ AprendeCSharpFacil      ┆ Norte  ┆ 34586  ┆ 340290      ┆ 49146 ┆ 495   │
│ 5/24/2024  ┆ CodigoFacilitoEnEspanol ┆ Norte  ┆ 20337  ┆ 343710      ┆ 32831 ┆ 1655  │
│ 9/5/2023   ┆ AprendePythonFacil      ┆ Sur    ┆ 45332  ┆ 279000      ┆ 15840 ┆ 991   │
│ 6/19/2024  ┆ CodigoFacilitoEnEspanol ┆ Este   ┆ 36817  ┆ 462135      ┆ 42041 ┆ 1784  │
│ …          ┆ …                       ┆ …      ┆ …      ┆ …           ┆ …     ┆ …     │
│ 7/6/2024   ┆ CursoDeJavaAvanzado     ┆ Sur    ┆ 29588  ┆ 40026       ┆ 18668 ┆ 330   │
│ 12/13/2023 ┆ AprendeCSharpFacil      ┆ Sur    ┆ 24523  ┆ 238325      ┆ 5276  ┆ 195   │
│ 1/26/2024  ┆ AprendeCSharpFacil      ┆ Este   ┆ 22159  ┆ 437721      ┆ 44179 ┆ 442   │
│ 1/17/2024  ┆ AprendeJavaScriptYA     ┆ Sur    ┆ 47854  ┆ 359512      ┆ 20689 ┆ 1674  │
│ 8/21/2023  ┆ DesarrolloWebCompleto   ┆ Este   ┆ 14704  ┆ 301041      ┆ 10286 ┆ 582   │
└────────────┴─────────────────────────┴────────┴────────┴─────────────┴───────┴───────┘

In [24]:
# Lectura de varios csv utilizando polars

pl.read_csv(path_file('datos_historicos/*.csv'))

shape: (7_000, 12)
┌──────────┬────────────┬───────────┬────────────┬───┬───────────┬───────────┬──────────┬──────────┐
│ Order_ID ┆ Order_Date ┆ Ship_Date ┆ Ship_Mode  ┆ … ┆ Customer_ ┆ Product_N ┆ Quantity ┆ Discount │
│ ---      ┆ ---        ┆ ---       ┆ ---        ┆   ┆ Name      ┆ ame       ┆ ---      ┆ ---      │
│ i64      ┆ str        ┆ i64       ┆ str        ┆   ┆ ---       ┆ ---       ┆ i64      ┆ f64      │
│          ┆            ┆           ┆            ┆   ┆ str       ┆ str       ┆          ┆          │
╞══════════╪════════════╪═══════════╪════════════╪═══╪═══════════╪═══════════╪══════════╪══════════╡
│ 285479   ┆ 2019-08-14 ┆ 11        ┆ First      ┆ … ┆ Karen     ┆ Chromcraf ┆ 28       ┆ 0.53     │
│          ┆            ┆           ┆ Class      ┆   ┆ Bern      ┆ t         ┆          ┆          │
│          ┆            ┆           ┆            ┆   ┆           ┆ Bull-Nose ┆          ┆          │
│          ┆            ┆           ┆            ┆   ┆           ┆ Wood      ┆          ┆          │
│          ┆            ┆           ┆            ┆   ┆           ┆ Roun…     ┆          ┆          │
│ 25078    ┆ 2019-10-11 ┆ 27        ┆ Second     ┆ … ┆ Julia     ┆ Chromcraf ┆ 69       ┆ 0.34     │
│          ┆            ┆           ┆ Class      ┆   ┆ West      ┆ t         ┆          ┆          │
│          ┆            ┆           ┆            ┆   ┆           ┆ Bull-Nose ┆          ┆          │
│          ┆            ┆           ┆            ┆   ┆           ┆ Wood      ┆          ┆          │
│          ┆            ┆           ┆            ┆   ┆           ┆ Oval…     ┆          ┆          │
│ 488205   ┆ 2019-06-18 ┆ 11        ┆ First      ┆ … ┆ Thais     ┆ 19-Hole   ┆ 47       ┆ 0.2      │
│          ┆            ┆           ┆ Class      ┆   ┆ Sissman   ┆           ┆          ┆          │
│ 621386   ┆ 2019-08-01 ┆ 17        ┆ First      ┆ … ┆ Aleksandr ┆ Compact   ┆ 53       ┆ 0.69     │
│          ┆            ┆           ┆ Class      ┆   ┆ a         ┆ Automatic ┆          ┆          │
│          ┆            ┆           ┆            ┆   ┆ Gannaway  ┆ Electric  ┆          ┆          │
│          ┆            ┆           ┆            ┆   ┆           ┆ Let…      ┆          ┆          │
│ 701802   ┆ 2019-10-13 ┆ 8         ┆ First      ┆ … ┆ Cyma      ┆ Ibico     ┆ 98       ┆ 0.62     │
│          ┆            ┆           ┆ Class      ┆   ┆ Kinney    ┆ Standard  ┆          ┆          │
│          ┆            ┆           ┆            ┆   ┆           ┆ Transpare ┆          ┆          │
│          ┆            ┆           ┆            ┆   ┆           ┆ nt Cov…   ┆          ┆          │
│ …        ┆ …          ┆ …         ┆ …          ┆ … ┆ …         ┆ …         ┆ …        ┆ …        │
│ 474198   ┆ 2018-03-01 ┆ 22        ┆ First      ┆ … ┆ Jim       ┆ Xerox     ┆ 68       ┆ 0.45     │
│          ┆            ┆           ┆ Class      ┆   ┆ Mitchum   ┆ 1955      ┆          ┆          │
│ 595569   ┆ 2018-12-13 ┆ 16        ┆ Expedited  ┆ … ┆ Paul      ┆ GBC       ┆ 80       ┆ 0.34     │
│          ┆            ┆           ┆            ┆   ┆ Knutson   ┆ Plastic   ┆          ┆          │
│          ┆            ┆           ┆            ┆   ┆           ┆ Binding   ┆          ┆          │
│          ┆            ┆           ┆            ┆   ┆           ┆ Combs     ┆          ┆          │
│ 615      ┆ 2018-08-12 ┆ 30        ┆ Expedited  ┆ … ┆ George    ┆ Ideal     ┆ 66       ┆ 0.15     │
│          ┆            ┆           ┆            ┆   ┆ Bell      ┆ Clamps    ┆          ┆          │
│ 57398    ┆ 2018-11-30 ┆ 18        ┆ Standard   ┆ … ┆ Paul      ┆ Fellowes  ┆ 9        ┆ 0.67     │
│          ┆            ┆           ┆ Class      ┆   ┆ Stevenson ┆ Bankers   ┆          ┆          │
│          ┆            ┆           ┆            ┆   ┆           ┆ Box Stor/ ┆          ┆          │
│          ┆            ┆           ┆            ┆   ┆           ┆ Draw…     ┆          ┆          │
│ 100575   ┆ 2018-04-15 ┆ 14        ┆ Standard   ┆ … ┆ Pierre    ┆ GBC       ┆ 62       ┆ 0.18     │
│          ┆            ┆           ┆ Class      ┆   ┆ Wener     ┆ DocuBind  ┆          ┆          │
│          ┆            ┆           ┆            ┆   ┆           ┆ 200       ┆          ┆          │
│          ┆            ┆           ┆            ┆   ┆           ┆ Manual    ┆          ┆          │
│          ┆            ┆           ┆            ┆   ┆           ┆ Bindin…   ┆          ┆          │
└──────────┴────────────┴───────────┴────────────┴───┴───────────┴───────────┴──────────┴──────────┘

Excel

In [28]:
pl.read_excel(
    path_file('data.xlsx'),
    engine='xlsx2csv',
    read_options={'skip_rows': 3}
)

shape: (98, 12)
┌──────┬─────────────────────────────────┬────────┬────────┬───┬────────┬────────┬────────┬────────┐
│      ┆ in million USD                  ┆ FY '09 ┆ FY '10 ┆ … ┆ FY '15 ┆ FY '16 ┆ FY '17 ┆ FY '18 │
│ ---  ┆ ---                             ┆ ---    ┆ ---    ┆   ┆ ---    ┆ ---    ┆ ---    ┆ ---    │
│ str  ┆ str                             ┆ str    ┆ str    ┆   ┆ str    ┆ str    ┆ str    ┆ str    │
╞══════╪═════════════════════════════════╪════════╪════════╪═══╪════════╪════════╪════════╪════════╡
│ null ┆ NET OPERATING REVENUES          ┆ 30990  ┆ 35119  ┆ … ┆ 44294  ┆ 41863  ┆ 35410  ┆ 31856  │
│ null ┆ Cost of goods sold              ┆ 11088  ┆ 12693  ┆ … ┆ 17482  ┆ 16465  ┆ 13255  ┆ 11770  │
│ null ┆ Gross Profit                    ┆ 19902  ┆ 22426  ┆ … ┆ 26812  ┆ 25398  ┆ 22155  ┆ 20086  │
│ null ┆ Selling, general and administr… ┆ 11358  ┆ 13194  ┆ … ┆ 16427  ┆ 15262  ┆ 12654  ┆ 10307  │
│ null ┆ Other operating charges         ┆ 313    ┆ 819    ┆ … ┆ 1657   ┆ 1510   ┆ 1902   ┆ 1079   │
│ …    ┆ …                               ┆ …      ┆ …      ┆ … ┆ …      ┆ …      ┆ …      ┆ …      │
│ null ┆ Effect of exchange rate change… ┆ 576    ┆ -166   ┆ … ┆ -878   ┆ -6     ┆ 241    ┆ -262   │
│ null ┆ Cash Provided by (Used in) Inv… ┆ null   ┆ null   ┆ … ┆ 0      ┆ 0      ┆ -58    ┆ -421   │
│ null ┆ Cash Provided by (Used in) Fin… ┆ null   ┆ null   ┆ … ┆ 0      ┆ 0      ┆ -38    ┆ 205    │
│ null ┆ Net Cash Provided by (Used in)… ┆ null   ┆ null   ┆ … ┆ 0      ┆ 0      ┆ 15     ┆ 91     │
│ null ┆ Net increase (decrease) during… ┆ 2320   ┆ 1496   ┆ … ┆ -1649  ┆ 1246   ┆ -2477  ┆ 2945   │
└──────┴─────────────────────────────────┴────────┴────────┴───┴────────┴────────┴────────┴────────┘

In [29]:
import openpyxl

wb = openpyxl.load_workbook(path_file('datos_historicos.xlsx'))
sheets = wb.sheetnames
sheets

['FY18', 'FY19', 'FY20', 'FY21', 'FY22', 'FY23', 'FY24']

In [31]:
pl.concat(
    pl.read_excel(
    path_file('datos_historicos.xlsx'),
    sheet_name=sheets
).values()
)

shape: (7_000, 12)
┌──────────┬────────────┬───────────┬────────────┬───┬───────────┬───────────┬──────────┬──────────┐
│ Order_ID ┆ Order_Date ┆ Ship_Date ┆ Ship_Mode  ┆ … ┆ Customer_ ┆ Product_N ┆ Quantity ┆ Discount │
│ ---      ┆ ---        ┆ ---       ┆ ---        ┆   ┆ Name      ┆ ame       ┆ ---      ┆ ---      │
│ i64      ┆ date       ┆ i64       ┆ str        ┆   ┆ ---       ┆ ---       ┆ i64      ┆ str      │
│          ┆            ┆           ┆            ┆   ┆ str       ┆ str       ┆          ┆          │
╞══════════╪════════════╪═══════════╪════════════╪═══╪═══════════╪═══════════╪══════════╪══════════╡
│ 593493   ┆ 2018-02-25 ┆ 18        ┆ First      ┆ … ┆ Ken Black ┆ Case      ┆ 65       ┆ 0.69     │
│          ┆            ┆           ┆ Class      ┆   ┆           ┆ Logic     ┆          ┆          │
│          ┆            ┆           ┆            ┆   ┆           ┆ 2.4GHz    ┆          ┆          │
│          ┆            ┆           ┆            ┆   ┆           ┆ Wireless  ┆          ┆          │
│          ┆            ┆           ┆            ┆   ┆           ┆ Key…      ┆          ┆          │
│ 245840   ┆ 2018-07-29 ┆ 3         ┆ Second     ┆ … ┆ Craig     ┆ DAX Value ┆ 2        ┆ 0.47     │
│          ┆            ┆           ┆ Class      ┆   ┆ Leslie    ┆ U-Channel ┆          ┆          │
│          ┆            ┆           ┆            ┆   ┆           ┆ Document  ┆          ┆          │
│          ┆            ┆           ┆            ┆   ┆           ┆ F…        ┆          ┆          │
│ 418194   ┆ 2018-07-16 ┆ 26        ┆ Second     ┆ … ┆ David     ┆ End Table ┆ 14       ┆ 0.26     │
│          ┆            ┆           ┆ Class      ┆   ┆ Wiener    ┆           ┆          ┆          │
│ 520755   ┆ 2018-06-24 ┆ 19        ┆ First      ┆ … ┆ Rick      ┆ Colored   ┆ 52       ┆ 0.07     │
│          ┆            ┆           ┆ Class      ┆   ┆ Hansen    ┆ Envelopes ┆          ┆          │
│ 254624   ┆ 2018-07-17 ┆ 13        ┆ Second     ┆ … ┆ Tom       ┆ Acme      ┆ 48       ┆ 0.54     │
│          ┆            ┆           ┆ Class      ┆   ┆ Stivers   ┆ Kleen     ┆          ┆          │
│          ┆            ┆           ┆            ┆   ┆           ┆ Earth     ┆          ┆          │
│          ┆            ┆           ┆            ┆   ┆           ┆ Office    ┆          ┆          │
│          ┆            ┆           ┆            ┆   ┆           ┆ Shears    ┆          ┆          │
│ …        ┆ …          ┆ …         ┆ …          ┆ … ┆ …         ┆ …         ┆ …        ┆ …        │
│ 520267   ┆ 2024-05-23 ┆ 21        ┆ Standard   ┆ … ┆ Zuschuss  ┆ BIC Brite ┆ 2        ┆ 0.31     │
│          ┆            ┆           ┆ Class      ┆   ┆ Donatelli ┆ Liner Hig ┆          ┆          │
│          ┆            ┆           ┆            ┆   ┆           ┆ hlighters ┆          ┆          │
│ 458149   ┆ 2024-04-05 ┆ 12        ┆ Second     ┆ … ┆ Emily     ┆ Xerox     ┆ 63       ┆ 0.11     │
│          ┆            ┆           ┆ Class      ┆   ┆ Ducich    ┆ 1909      ┆          ┆          │
│ 76195    ┆ 2024-06-15 ┆ 2         ┆ Expedited  ┆ … ┆ Edward    ┆ Filtratio ┆ 28       ┆ 0.21     │
│          ┆            ┆           ┆            ┆   ┆ Hooks     ┆ n Bags    ┆          ┆          │
│ 417871   ┆ 2024-01-29 ┆ 17        ┆ Second     ┆ … ┆ Sara      ┆ Bulldog   ┆ 18       ┆ 0.31     │
│          ┆            ┆           ┆ Class      ┆   ┆ Luxemburg ┆ Vacuum    ┆          ┆          │
│          ┆            ┆           ┆            ┆   ┆           ┆ Base      ┆          ┆          │
│          ┆            ┆           ┆            ┆   ┆           ┆ Pencil    ┆          ┆          │
│          ┆            ┆           ┆            ┆   ┆           ┆ Sha…      ┆          ┆          │
│ 373716   ┆ 2024-02-16 ┆ 30        ┆ Second     ┆ … ┆ Sandra    ┆ Logitech  ┆ 29       ┆ 0.45     │
│          ┆            ┆           ┆ Class      ┆   ┆ Flanagan  ┆ G700s Rec ┆          ┆          │
│          ┆            ┆           ┆            ┆   ┆           ┆ hargeable ┆          ┆          │
│          ┆            ┆           ┆            ┆   ┆           ┆ Ga…       ┆          ┆          │
└──────────┴────────────┴───────────┴────────────┴───┴───────────┴───────────┴──────────┴──────────┘

## Carga con Schema definido en Polars

Polars Data Types Documentation: https://docs.pola.rs/api/python/stable/reference/datatypes.html

In [32]:
pl.read_excel(
    path_file('data.xlsx'),
    engine='xlsx2csv',
    read_options={'skip_rows': 3, 'ignore_errors': True},
    schema_overrides={
        **{'in million USD': pl.String, "FY '09": pl.Float64},
        **{f"FY '{year}": pl.Float64 for year in range(10, 19)}
    }
)

shape: (98, 12)
┌──────┬───────────────────────────┬─────────┬─────────┬───┬─────────┬─────────┬─────────┬─────────┐
│      ┆ in million USD            ┆ FY '09  ┆ FY '10  ┆ … ┆ FY '15  ┆ FY '16  ┆ FY '17  ┆ FY '18  │
│ ---  ┆ ---                       ┆ ---     ┆ ---     ┆   ┆ ---     ┆ ---     ┆ ---     ┆ ---     │
│ str  ┆ str                       ┆ f64     ┆ f64     ┆   ┆ f64     ┆ f64     ┆ f64     ┆ f64     │
╞══════╪═══════════════════════════╪═════════╪═════════╪═══╪═════════╪═════════╪═════════╪═════════╡
│ null ┆ NET OPERATING REVENUES    ┆ 30990.0 ┆ 35119.0 ┆ … ┆ 44294.0 ┆ 41863.0 ┆ 35410.0 ┆ 31856.0 │
│ null ┆ Cost of goods sold        ┆ 11088.0 ┆ 12693.0 ┆ … ┆ 17482.0 ┆ 16465.0 ┆ 13255.0 ┆ 11770.0 │
│ null ┆ Gross Profit              ┆ 19902.0 ┆ 22426.0 ┆ … ┆ 26812.0 ┆ 25398.0 ┆ 22155.0 ┆ 20086.0 │
│ null ┆ Selling, general and      ┆ 11358.0 ┆ 13194.0 ┆ … ┆ 16427.0 ┆ 15262.0 ┆ 12654.0 ┆ 10307.0 │
│      ┆ administr…                ┆         ┆         ┆   ┆         ┆         ┆         ┆         │
│ null ┆ Other operating charges   ┆ 313.0   ┆ 819.0   ┆ … ┆ 1657.0  ┆ 1510.0  ┆ 1902.0  ┆ 1079.0  │
│ …    ┆ …                         ┆ …       ┆ …       ┆ … ┆ …       ┆ …       ┆ …       ┆ …       │
│ null ┆ Effect of exchange rate   ┆ 576.0   ┆ -166.0  ┆ … ┆ -878.0  ┆ -6.0    ┆ 241.0   ┆ -262.0  │
│      ┆ change…                   ┆         ┆         ┆   ┆         ┆         ┆         ┆         │
│ null ┆ Cash Provided by (Used    ┆ null    ┆ null    ┆ … ┆ 0.0     ┆ 0.0     ┆ -58.0   ┆ -421.0  │
│      ┆ in) Inv…                  ┆         ┆         ┆   ┆         ┆         ┆         ┆         │
│ null ┆ Cash Provided by (Used    ┆ null    ┆ null    ┆ … ┆ 0.0     ┆ 0.0     ┆ -38.0   ┆ 205.0   │
│      ┆ in) Fin…                  ┆         ┆         ┆   ┆         ┆         ┆         ┆         │
│ null ┆ Net Cash Provided by      ┆ null    ┆ null    ┆ … ┆ 0.0     ┆ 0.0     ┆ 15.0    ┆ 91.0    │
│      ┆ (Used in)…                ┆         ┆         ┆   ┆         ┆         ┆         ┆         │
│ null ┆ Net increase (decrease)   ┆ 2320.0  ┆ 1496.0  ┆ … ┆ -1649.0 ┆ 1246.0  ┆ -2477.0 ┆ 2945.0  │
│      ┆ during…                   ┆         ┆         ┆   ┆         ┆         ┆         ┆         │
└──────┴───────────────────────────┴─────────┴─────────┴───┴─────────┴─────────┴─────────┴─────────┘